:root {
    --main-page-color: RGB(243,234,227)
}

* {
    margin: 0;
}

main {
    background-color: var(--main-page-color);
    display: flex;
    justify-content: center;
}

.card-container {
    display: flexbox;
    flex-direction: row;
    height: 750px;
    width: 1000px;
    border-radius: 15px;
    background-color: white;
}

.fragment {
    height: 750px;
    width: 500px;
}

.fragment--product {
    background-image: url(../images/image-product-desktop.jpg);
    float: left;
}

.fragment--description {
    color: red;
    float: right;

}